<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ - 2048</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>2048</h1>
    <p>2048をあそべるページです。矢印キーで操作してね。画面を直接操作してもWASDを押しても入力受付されません。</p>
    <a href="{{ url_for('game_page') }}">ゲームを開始</a>

    <h2>ランキング</h2>
    <table>
        <thead>
            <tr>
                <th>順位</th>
                <th>ユーザー名</th>
                <th>スコア</th>
            </tr>
        </thead>
        <tbody>
            {% for rank in rankings %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ rank.username }}</td>
                <td>{{ rank.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
